.App {
  text-align: center;
}

.lang {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  /* opacity: 0.7; */
}

.lang:hover {
  cursor: pointer;
  opacity: 0.7;
  /* opacity: 1.0; */
}

.lang:active {
  padding: 1px;
}

.error {
  border: 2px solid red;
}

input:focus {
  box-shadow: 0 0 10px #719ECE;
}

.error:focus {
  outline: none !important;
  border: 2px solid red;
}

.map {
  height: 300px;
  margin: 5%;
  border-radius: 10px;
}

.carousel {
  width: 500px;
  margin: auto;
}