td img {
  height: 100px;
  width: 100px;
}

td, th {
  border: 1px solid black;
}

th {
  background-color: lightgray;
}

table {
  width: 100%;
}

.active {
  border: 1px solid green;
  background-color: rgb(235, 240, 235);
}

.inactive {
  border: 1px solid red;
  background-color: rgb(247, 240, 240);
}

.active, .inactive {
  margin: 5px;
}